<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reci.P</title>
</head>
<body>
  <header id="header">
    <h1>
      Reci.P
    </h1>
  </header>
  <main>
    <div class="container">
      <div>
        <h3><a href="/categories/breakfast">Breakfast</a></h3>
      </div>
      <div>
        <h3><a href="/categories/lunch">Lunch</a></h3>
      </div>
      <div>
        <h3><a href="/categories/dinner">Dinner</a></h3>
      </div>
      <div>
        <h3><a href="/recipes">All Recipes</a></h3>
      </div>
      <div>
        <h3><a href="/recipes/addRecipe">Add Recipe</a></h3>
      </div>
    </div>
  </main>
</body>
</html>