<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Varela+Round" rel="stylesheet">
  <title>Reci.P</title>
</head>
<body>
  <header id="header">
    <h1>
      Reci.P
    </h1>
  </header>
  <main class="home-main">
    <div id="container">
      <div class="category-title">
        <h3><a href="/categories/breakfast">Breakfast</a></h3>
      </div>
      <div class="category-title">
        <h3><a href="/categories/lunch">Lunch</a></h3>
      </div>
      <div class="category-title">
        <h3><a href="/categories/dinner">Dinner</a></h3>
      </div>
    </div>
    <nav id="nav">
      <div class="nav-buttons nav-all-recipes">
        <h3 class="all-recipes"><a href="/recipes">All Recipes</a></h3>
      </div>
      <div class="nav-buttons nav-add-recipes">
        <h3 class="all-recipes"><a href="/recipes/addRecipe">Add Recipe</a></h3>
      </div>
    </nav>
  </main>
</body>
</html>