<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header id="header">
    <h1>
      Reci.P
    </h1>
  </header>
  <main>
    <div class="container">
      <div>
        <h3>Dinner</h3>
        <ul>
          <li><a href="">sample recipe link</a></li>
        </ul>
      </div>
    </div>
  </main>
</body>
</html>