<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Varela+Round" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header id="header">
    <h1>
      Reci.P
    </h1>
  </header>
  <main>
    <h3 class="category-page-title">Lunch</h3>

    <div class="container">
      <div>
        <ul class="recipe-ul">
          <% for (let i = 0; i < lunchData.recipes.length; i++) { %>
            <li class="recipe-li">
              <a href="/recipes/<%= lunchData.recipes[i]._id%>">
                <%= lunchData.recipes[i].title%></a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </main>

  <section class="button-container">
    <form action="/recipes/addRecipe" method="GET">
      <button type="submit" class="cat-nav-btn">Add Recipe</button>
    </form>
    <form action="/categories" method="GET">
      <button type="submit" class="cat-nav-btn">Back</button>
    </form>
  </section>
</body>
</html>