<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Varela+Round" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Reci.P</title>
  </head>
  <body>
    <header id="header">
      <h1 class="logo"><i class="fas fa-utensils"></i></h1>
      <h2 class="reci">
        Reci
      </h2>
      <h1 class="p"><strong>P</strong></h1>
    </header>
  <main>
    
    <div class="container">
      <div>
        <h3 class="category-page-title"> <%= currentUser.username%>'s   Lunch Recipes: </h3>
        <ul class="recipe-ul">
          <% for (let i = 0; i < recipeData.length; i++) { %>
            <li class="recipe-li">
              <a href="/recipes/<%= recipeData[i]._id%>">
                <%= recipeData[i].title%></a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </main>
  
  <nav id="nav">
    <a href="/categories" class="nav-buttons nav-all-recipes">
      <h3 class="nav-title">Back</h3>
    </a>
    <a href="/recipes/addRecipe" class="nav-buttons nav-add-recipes">
      <h3 class="nav-title">Add</h3>
    </a>
  </nav>
</body>
</html>