body {
  background-color: #eee2dc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#header {
  position: relative;
  text-align: center;
  color: #ac3b61;
  Font-Family: 'Varela Round', Sans-Serif;
  Font-Size: 40px;
  margin-bottom: -3%;
}

.home-main{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: #123c69;
  Font-Family: 'Noto Serif', Serif;
  Font-Size: 22px;
}

a:hover{
  color: #ac3b61;
  font-size: 25px;
  transition: .4s;
}

.category-title {
  margin: 40px;
  background-color: #edc7b7;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #123c69;
}

.category-page-title {
  text-decoration: none;
  color: #123c69;
  Font-Family: 'Noto Serif', Serif;
  Font-Size: 34px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #123c69;
  
}
 .nav-buttons {
   margin-left: 50%;
   margin-right: 50%;
   width: 100%;
   border: 2px solid #123c69;
   
 }

 .all-recipes {
  width: 100px;
 }

 .recipe-ul {
   list-style-type: circle;
   font-size: 22px;
 }

 button {
  text-decoration: none;
  color: #123c69;
  Font-Family: 'Noto Serif', Serif;
  Font-Size: 18px;
  background-color: #aa677d;
 }

 .button-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 .cat-nav-btn {
   margin: 30px;


 }




