:root {
  --bg-color: #eee2dc;
  --font-color: #123c69;
  --logo-color: #ac3b61;
  --div-box:  #edc7b7;
}

main {
  display: flex;
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#header {
  position: relative;
  text-align: center;
  color: var(--logo-color);
  Font-Family: 'Varela Round', Sans-Serif;
  Font-Size: 40px;
  margin-bottom: -3%;
}

.home-main{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.add-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--font-color);
  Font-Family: 'Noto Serif', Serif;
  Font-Size: 22px;
}

a:hover{
  color: var(--logo-color);
  font-size: 25px;
  transition: .4s;
}

.category-title {
  margin: 40px;
  background-color: var(--div-box);
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
}



.category-page-title {
  text-decoration: none;
  color: var(--font-color);
  Font-Family: 'Noto Serif', Serif;
  Font-Size: 34px;
  text-align: center;
}

#add-recipe-main {
  display: flex;
  justify-content: center;
}

#nav {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--font-color);
  
}

 .nav-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 98px;
   height: 98px;
   border: 2px solid var(--font-color);
   
 }

 .nav-title {
   font-size: 20px;
 }

 .all-recipes {
  width: 100px;
 }

 .recipe-ul {
   list-style-type: circle;
   font-size: 22px;
 }

 button {
  text-decoration: none;
  color: var(--font-color);
  Font-Family: 'Noto Serif', Serif;
  Font-Size: 18px;
  background-color: var(--bg-color);
  border: 2px solid var(--font-color);
 }

 .button-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 .cat-nav-btn {
   margin: 30px;


 }

span {
  font-size: 18px;
  color: var(--font-color);
}



.form-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}

div.label {
  margin-right: 30px;
  position: relative;
  top: -5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  /* align-items: flex-start; */
}

div.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#add-recipe-btn {
  position: relative;
  left: 40%;
}


