<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Varela+Round" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>Reci.P</title>
      </head>
<body>
    <header id="header">
        <h1 class="logo"><i class="fas fa-utensils"></i></h1>
        <h2 class="reci">
          Reci.
        </h2>
        <h1 class="p"><strong>P</strong></h1>
      </header>
    <main class="login-signup-main">
        <div class="login-signup-div">
            <h2 class="welcome">Welcome to Reci.P!</h2>
            <h3 class="welcome">Login below or click the link to Sign up!</h3>
                <form class="login-signup-form" action="/users/login" method="POST">
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username">
                    <label for="password">Password: </label>
                    <input type="text" name="password" id="password"><br>
                    <div class="login-signup-btns">
                        <button type="submit" class="login-btn">Log In</button>
                        <a class="signup-btn" href="/users/signup">Sign Up!</a>
                    </div>
                </form>
        </div>
        
    </main>
</body>
</html>
