<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reci. P</title>
</head>
<body>
    <header class="welcome-header">
        <h1>
            Welcome to Reci.P
        </h1>
    </header>
    <main class="login-signup-btns">
        <div class="login-signup-div">
            <h3 id="login-message">Log In</h3>

            <form action="/users/login" method="POST">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username"> <br>
                <label for="password">Password: </label>
                <input type="text" name="password" id="password"> <br>
                <button type="submit" class="login-btn">Log In</button>
            </form>
            
            
            <form action="/users/signup">
                <button type="submit" class="signup-btn">Sign Up!</button>
            </form>
        </div>
        
    </main>
</body>
</html>
