<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Varela+Round" rel="stylesheet">
    <title>Reci.P index</title>
</head>
<body>
    <header class="welcome-header">
        <h1>
            Welcome to Reci.P
        </h1>
    </header>
    <form action="/users/login" >
        <button>Login</button>
    </form>
    <form action="users/signup">
        <button>Signup</button>
    </form>

</body>
</html>