<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header id="header">
    <h1>
      Reci.P
    </h1>
  </header>
  <main>
    <h3>Add a recipe</h3>
    <form action="/recipes" method="POST">
      <label for="title">Enter recipe name</label>
      <input type="text" name="title"><br>

      <label for="body">Enter recipe instructions</label>
      <input type="text" name="body"><br>

      <label for="link">Enter recipe link</label>
      <input type="text" name="link"><br>

      <label for="category">Choose meal category</label>
      <select name="category" id="category">
        <option value="">Please choose meal category</option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
      </select>

      <button type="submit">Add recipe</button>
    </form>
    <form action="/recipes" method="GET">
      <button type="submit">Back</button>
  </form>
  </main>
</body>
</html>