<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Varela+Round" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header id="header">
    <h1>
      Reci.P
    </h1>
  </header>
  <main id="add-recipe-main">
    <form action="/recipes" method="POST">
    <div class="add-container">
      <h3 class="category-page-title">Add a recipe</h3>
        <div class="form-div">
            <div class="label">
              <label for="title"><span>Enter recipe name:   </span></label><br>
              <label for="link"><span>Enter recipe url(copy full address):    </span></label><br>
              <label for="category"><span>Choose meal category:   </span></label><br>
              <label for="body"> <span>Enter recipe notes:   </span> </label>
            </div>
            
            <div class="input">
              <input type="text" name="title"><br>
              <input type="url" name="url" id="link"><br>
              <select name="category" id="category">
                <option value=""><span>Please choose meal category</span></option>
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
              </select><br>
              <textarea rows="10" cols="25" name="body" placeholder="Enter recipe notes here"></textarea><br>
            </div>
          </div>
        </div>
        
        <nav id="nav-add-recipes">
          <a href="/categories" class="nav-buttons nav-all-recipes">
            <h3 class="nav-title">Back</h3>
          </a>
          <button type="submit" id="add-recipe-btn">Add recipe</button>
        </nav>
        
      </form>
    </main>
</body>
</html>