<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Name Of Recipe</title>
</head>
<body>
    <header id="header">
        <h1>
          Reci.P
        </h1>
      </header>
      <section class="navigation">
          <h2 class="all-recipes-title">All Recipes</h2>
      </section>

      <main class="all-recipe-container">
          <ul>
              <li>
                  <p>
                      Recipe 1:     recipe name    recipe url  <%=  %>  <%=  %>
                  </p>
              </li>
          </ul>

      </main>

</body>
</html>