<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Name Of Recipe</title>
</head>
<body>
    <header id="header">
        <h1>
          Reci.P
        </h1>
      </header>
      <section class="navigation">
          <h2 class="recipe-title">Dynamic Recipe Title</h2>
      </section>

      <main class="recipe-container">
            <a href="#">
                <h4>
                    recipe link
                </h4>
            </a>
        <article class="recipe-body">
            <p>
                dynamic recipe body <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, fugit sunt, doloribus asperiores laborum vero officiis odio architecto reprehenderit vel aliquam tenetur iusto commodi perferendis, eum ipsum quis dicta optio quisquam omnis soluta nihil molestiae error libero? Nemo aliquid itaque optio sunt nesciunt esse accusamus eos! Aut omnis exercitationem ducimus dolorum. Quasi cupiditate non quos nostrum, atque harum voluptatem delectus corporis debitis culpa esse, ex libero tenetur molestias pariatur qui dicta veritatis dolore fuga. Labore assumenda aut, illum, sed earum molestiae esse quidem quia, laboriosam commodi reiciendis quos. Quia ullam pariatur perferendis impedit accusamus consequatur dolorem alias explicabo nam. Numquam!
            </p>
        </article>
        <button>Edit recipe</button>
        <button>Delete recipe</button>
      </main>

</body>
</html>