<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Name Of Recipe</title>
</head>
<body>
    <header id="header">
        <h1>
          Reci.P
        </h1>
      </header>
      <section class="navigation">
          <h2 class="recipe-title"><%= recipeData.title %></h2>
      </section>

      <main class="recipe-container">
            <a href="<%= recipeData.link %>" target="_blank">
                <h4>
                    <%= recipeData.title%>
                </h4>
            </a>
        <article class="recipe-body">
            <p>
                <%= recipeData.body %>
            </p>
        </article>
        <button>Edit recipe</button>
        <button>Delete recipe</button>
      </main>

</body>
</html>